In [205]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [206]:
reviews = pd.read_csv("..\\Data\\ign.csv")

In [207]:
reviews.head()

,Unnamed: 0,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
0,0,Amazing,LittleBigPlanet PS Vita,/games/littlebigplanet-vita/vita-98907,PlayStation Vita,9.0,Platformer,Y,2012,9,12
1,1,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,/games/littlebigplanet-ps-vita-marvel-super-he...,PlayStation Vita,9.0,Platformer,Y,2012,9,12
2,2,Great,Splice: Tree of Life,/games/splice/ipad-141070,iPad,8.5,Puzzle,N,2012,9,12
3,3,Great,NHL 13,/games/nhl-13/xbox-360-128182,Xbox 360,8.5,Sports,N,2012,9,11
4,4,Great,NHL 13,/games/nhl-13/ps3-128181,PlayStation 3,8.5,Sports,N,2012,9,11

In [208]:
reviews = reviews.iloc[:,1:]
reviews.set_index("title")
reviews.tail()

,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
18620,Good,Tokyo Mirage Sessions #FE,/games/fire-emblem-x-shin-megami-tensei/wii-u-...,Wii U,7.6,RPG,N,2016,6,29
18621,Amazing,LEGO Star Wars: The Force Awakens,/games/lego-star-wars-the-force-awakens/ps4-20...,PlayStation 4,9.0,"Action, Adventure",Y,2016,6,29
18622,Mediocre,Star Ocean: Integrity and Faithlessness,/games/star-ocean-5/ps4-20035681,PlayStation 4,5.8,RPG,N,2016,6,28
18623,Masterpiece,Inside,/games/inside-playdead/xbox-one-121435,Xbox One,10.0,Adventure,Y,2016,6,28
18624,Masterpiece,Inside,/games/inside-playdead/pc-20055740,PC,10.0,Adventure,Y,2016,6,28

In [209]:
total_stats = reviews.describe()
total_stats

              score  release_year  release_month   release_day
count  18625.000000  18625.000000    18625.00000  18625.000000
mean       6.950459   2006.515329        7.13847     15.603866
std        1.711736      4.587529        3.47671      8.690128
min        0.500000   1970.000000        1.00000      1.000000
25%        6.000000   2003.000000        4.00000      8.000000
50%        7.300000   2007.000000        8.00000     16.000000
75%        8.200000   2010.000000       10.00000     23.000000
max       10.000000   2016.000000       12.00000     31.000000

In [210]:
rpgs = reviews.loc[reviews["genre"] == "RPG"]
rpg_stats = rpgs.describe()
rpg_stats

            score  release_year  release_month  release_day
count  980.000000    980.000000     980.000000   980.000000
mean     7.571429   2007.669388       6.708163    15.623469
std      1.416941      4.926931       3.455914     8.527553
min      1.900000   1996.000000       1.000000     1.000000
25%      6.800000   2004.000000       3.000000     9.000000
50%      7.900000   2008.000000       7.000000    16.000000
75%      8.600000   2011.000000      10.000000    23.000000
max     10.000000   2016.000000      12.000000    31.000000

In [211]:
(rpg_stats.loc["mean","score"] - total_stats.loc["mean","score"]) / total_stats.loc["mean","score"]

0.089342229862720127

In [212]:
genres = {}
for genre in reviews["genre"].unique():
    stats = reviews.loc[reviews["genre"] == x]["score"].mean()
    genres[genre] = stats
score_by_genre = pd.DataFrame(new_dict, index=[0]).transpose()
score_by_genre.columns = ['mean']
score_by_genre.sort_values
score_by_genre.head()

                mean
Platformer  7.186513
Puzzle      7.083119
Sports      7.025209
Strategy    7.246032
Fighting    7.058135

In [231]:
score_by_genre["all_genres"] = total_stats.loc["mean", "score"]
score_by_genre["diff"] = score_by_genre["mean"] - score_by_genre["all_genres"]
score_by_genre = score_by_genre.sort_values("diff")
score_by_genre.set_index(keys= [x for x in range(len(score_by_genre["mean"]+1))])
score_by_genre.dropna(thresh=1)
score_by_genre.head()

KeyError: 0

In [223]:
worst_genres = score_by_genre.head()
worst_genres

                     mean  all_genres      diff
Hunting, Action       2.0    6.950459 -4.950459
Sports, Fighting      2.7    6.950459 -4.250459
Educational, Trivia   3.0    6.950459 -3.950459
Sports, Editor        3.0    6.950459 -3.950459
Adventure, Adult      4.1    6.950459 -2.850459

In [225]:
best_genres = score_by_genre.tail()
best_genres.index

Index(['Other, Action', 'Puzzle, RPG', 'Hardware', 'Compilation, Compilation',
       nan],
      dtype='object')

In [216]:
reviews.loc[reviews["genre"] == "NaN"].head()

Empty DataFrame
Columns: [score_phrase, title, url, platform, score, genre, editors_choice, release_year, release_month, release_day]
Index: []